@media (min-width:600px) {
    .nav-name {
        font-size: 2.2rem;
    }

    .main-nav {
        font-size: 1.5rem;
    }

    /* helpers*/
    .btn-blue {
        padding: 1.3rem;
        margin: 1.3rem;
        font-size: 1.7rem;
        font-weight: 500;
    }

    /*presentation*/
    .presen {
        padding-bottom: 2.5rem;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .presen__pictures img {
        width: auto;
        height: 40rem;
    }

    .presen__main-greeting {
        font-size: 5rem;
        text-align: justify;
        margin-bottom: 2rem;
    }

    .presen__main-description {
        font-size: 1.7rem;
        line-height: 1.7;
        text-align: justify;
    }

    /*
  toolbar section
*/

    .toolbar {
        margin: 2rem;
    }

    .toolbar__item {
        padding: 1rem;
    }

    .toolbar__item img {
        width: 6rem;
        height: auto;
        padding: 0.5rem;
    }


    /*projects section*/
    .projects {
        padding: 1.5rem;
    }

    .projects__card {
        margin: 0.5rem;
        width: 40rem;
    }

    .projects-title {
        font-size: 2rem;
        font-size: 2.5rem;
    }

    /*card*/
    .card__header-title {
        font-size: 2rem;
        padding: 0.5rem 1.2rem;
    }

    .card__content {
        padding-top: 0.6rem;
    }

    .card__content h5 {
        font-size: 1.5rem;
    }

    .card__content-description {
        font-size: 1.5rem;
    }

    .card__content-bullets {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .card__content-bullets li {
        padding: 1rem;
    }

    .card__content__tech-item {
        padding: 0.8rem 1.5rem;
        margin: 0.7rem;
        font-size: 1.3rem;
    }

    .card__footer {
        font-size: 1.8rem;
    }

    .overlay__content-close{
        margin: 3rem;
    }

    /*Skills*/

    .skills {
        padding: 2rem 3rem;
        justify-content: space-around;
    }

    .skills__item {
        margin: 3rem;
    }

    .skills__item img {
        width: 6rem;
        height: 6rem;
    }

    /*certifications*/
    .certifications {
        flex-direction: row;
        align-items: stretch;
        flex-wrap: wrap;
        padding: 3rem;
        align-items: center;
    }

    .certifications__card {
        flex-direction: column;
        align-items: center;
    }


    .certifications__card-img {
        width: 25rem;
        height: auto;
    }

    .certifications__card-title{
        margin: auto;
        padding: 2rem;
        font-size: 2.3rem;
        text-align: center;
      }


    /*contact form*/
    .contact h5 {
        font-size: 2rem;
    }

    .contact__container {
        flex-direction: row;
    }

    .contact__info {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        border-top-right-radius: 0rem;
        border-bottom-left-radius: 1rem;
    }

    .contact__info-item {
        font-size: 1.7rem;
    }

    .contact__form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        border-bottom-left-radius: 0;
        border-top-right-radius: 1rem;
    }

    .contact__form__group label {
        font-size: 1.6rem;
    }

    /*footer*/
    .footer-author {
        font-size: 1.4rem;
    }
}