* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --color2: #08243f;
  --color1: #245e95;
  --color4: #3f51b5;
  --color6: #32a0a1;
  --color7: #2d8a8b;
  --color3: #d7f9fa;
  --color5: #dfdfdf;
  --text-light: white;
  --text-strong: #141e0d;
}

/*main container*/
.container{
  display: flex;
  flex-wrap: wrap;
}


/*helpers*/
.shadow{
  box-shadow: 2px 4px 22px 0px rgba(0,0,0,0.75);
}

/*Resume Button*/

.btn-blue{
  border-radius: 0.3rem;
  background-color: var(--color4);
  color: var(--text-light);
  margin: 1rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  border: none;
}


/* nav */
.nav {
  position: sticky;
  top: 0;
  background-color: var(--color2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  width: 100%;
}

.nav__left {
  display: inline-flex;
}

/* nav span */
.nav-name {
  display: inline-block;
  color: var(--text-light);
  font-size: 1.5rem;
  text-align: center;
}

/* nav items */
.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.main-nav__item {
  list-style: none;
}

.main-nav__item a {
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  text-decoration: none;
  color: var(--text-light);
}

.main-nav__item a:active {
  color: var(--text-light);
  background-color: var(--color7);
  transition: 0.1s;
}

/* nav check */

.nav__switchBtn {
  position: relative;
  display: inline-block;
  width: 11.0rem;
  height: 3.4rem;
}

/*Presentation*/
.presen{
  display: block;
  background-color: var(--color3);
  padding-bottom: 2rem;
  width: 100%;
}

.presen__pictures img{
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  border-radius: 50%;
  float: right;
  margin: 1rem;
  margin-right: 0;
  padding-right: 1rem;
}

.presen__pictures img:hover {filter: grayscale(80%);}

.presen__main{
  color: var(--text-strong);
  height: auto;
}

.presen__main-greeting{
  font-size: 2.2rem;
  margin-left: 1rem;
  padding-top: 1rem;
}

.presen__main-description{
  font-size: 1.2rem;
  margin: 0.5rem 1rem;
  margin-bottom:2rem;
  line-height: 2rem;
  margin-right: 0;
}

/*projects section*/

.projects{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
}

.projects-title{
  font-size: 2rem;
  padding: 1rem;
  width: 100%;
  text-align: center;
}

/* card */
.projects__card{
  border: 0.1rem solid var(--color5);
  border-top: 0;
  border-radius: 1rem;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s ease;
  width: 30rem;
}

.projects__card:hover{
  box-shadow: 2px 4px 22px 0px rgba(0,0,0,0.75);
  transition: 0.5s;
}

.card__header img{
  width: 100%;
  height: 25rem;
  border-radius: 1rem 1rem 0 0;
}

.card__header-title{
  font-size: 1.6rem;
  padding: 0 0.8rem;
}

.card__content{
  padding: 1.3rem;
  padding-top: 0.2rem;
  width: 100%;
}

.card__content h5{
  font-size: 1rem;
  font-weight: 600;
}

.card__content-description{
  padding: 0;
  text-align: justify;
}

.card__content-bullets{
  padding: 1rem;
  text-align: justify;
}

.card__content__tech{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.card__content__tech-item{
  padding: 0.3rem 1rem;
  margin: 0.5rem;
  border-radius: 2rem;
  background-color: var(--color6);
  color: var(--text-light);
}

.card__footer{
  padding: 2rem 1rem;
  text-align: center;
  border-top: 0.1rem solid var(--color5);
  font-size: 1.4rem;
}

.card__footer-check{
  text-decoration: none;
  color: var(--color4);
  font-weight: 700;
}

.card__footer-check:hover{ 
  color: var(--color6); 
  transition: 0.5s;
}

/*Contact form*/
.contact{
  width: 100%;
  margin-bottom: 3rem;
}

.contact h5{
  text-align: center;
  font-size: 1.8rem;
}

.contact__container{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1rem;
}

.contact__info{
  background-color: var(--color7);
  color: var(--text-light);
  padding: 1rem 1.5rem;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.contact__info-item{
  font-size: 1.2rem;
  margin: 1.5rem 0.5rem;
}

.contact__info-item a{
  text-decoration: underline;
  color: var(--text-light);
}

.contact__form{
  background-color: var(--color3);
  color: var(--text-strong);
  padding: 1rem 1.5rem;
  width: 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.contact__form__group{
  margin: 1.3rem 0;
}

.contact__form__group label{
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
}

input, textarea{
  outline: none;
}

textarea{
  overflow: auto;
  resize: vertical;
}

textarea,
.contact__form__group input[type="text"],
.contact__form__group input[type="email"]{
  font-size: 1.6rem;
  border: none;
  border-bottom: 0.17rem solid rgba(170, 168, 168, 0.5);
  padding: 0;
  height: 3.6rem;
  background: var(--color3);
  width: 100%;
}

textarea:hover,
.contact__form__group input[type="text"]:hover,
.contact__form__group input[type="email"]:hover{
  border-bottom: 0.17rem solid var(--color2);
  transition: 0.5s;
}

.footer{
  background-color: var(--color2);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7rem;
  width: 100%;
  color: var(--text-light);
}

.footer__social{
  display: flex;
  flex-direction: row;

}

.footer__social img{
  width: 4rem;
  height: 4rem;
  filter: invert(1);
  margin: 0 1rem;
}